<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nmfw.foodietree.domain.product.mapper.ProductMainPageMapper">



    <select id="findAll" resultType="org.nmfw.foodietree.domain.product.dto.response.ProductDto">

        SELECT
            p.product_id
        , p.store_id
        , p.pickup_time
        , p.product_upload_date
        , s.store_img
        , s.store_name
        , s.category
        , s.price
        FROM tbl_product p
        JOIN tbl_store s
        ON p.store_id = s.store_id;

    </select>


    <select id="categoryByFoodList" resultType="org.nmfw.foodietree.domain.product.dto.response.CategoryByFoodDto">
        SELECT
        p.product_id
        , p.store_id
        , p.pickup_time
        , p.product_upload_date
        , s.store_img
        , s.store_name
        , s.category
        , s.price
        FROM tbl_product p
        JOIN tbl_store s
        ON p.store_id = s.store_id
        where s.category IN
        <foreach collection="category" item="arr" open="(" close=")" separator=",">
            #{arr}
        </foreach>
    </select>

    <select id="categoryByAreaList" resultType="org.nmfw.foodietree.domain.product.dto.response.CategotyByAreaDto">
        SELECT
        p.product_id
        , p.store_id
        , p.pickup_time
        , p.product_upload_date
        , s.store_img
        , s.store_name
        , s.category
        , s.price
        , s.address
        FROM tbl_product p
        JOIN tbl_store s
        ON p.store_id = s.store_id
        where s.category IN
        <foreach collection="category" item="arr" open="(" close=")" separator=",">
            #{arr}
        </foreach>
    </select>


</mapper>